.ncxe.orange td {border-bottom:1px solid #efefef}
.ncxe.orange th{color:#fff;background:#ffc578;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzU3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYjlkMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffc578 0%, #fb9d23 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc578), color-stop(100%,#fb9d23));
background: -webkit-linear-gradient(top, #ffc578 0%,#fb9d23 100%);
background: -o-linear-gradient(top, #ffc578 0%,#fb9d23 100%);
background: -ms-linear-gradient(top, #ffc578 0%,#fb9d23 100%);
background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 );text-shadow:0 0 5px #FF8500;
}

.ncxe.orange th span{border-right:1px solid #E78B00;display:block}
.ncxe.orange th:first-child div{border-left:1px solid #E78B00}
.ncxe.orange th:last-child div{border-right:1px solid #E78B00}
.ncxe.orange th:last-child span{border-right:0 none}
.ncxe.orange th div{border-top:1px solid #E78B00;border-bottom:1px solid #E78B00}
.ncxe.orange th a,
.ncxe.orange td a{color:#333}